# Tests
test_*
tests/
.pytest_cache/
htmlcov/
.tox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/
ENV/
dist/
build/
*.egg-info/

# Environment secrets
.env
.env.*
!.env.example

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp